@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Quiz", FormMethod.Post,
                                                   new { enctype = "multipart/form-data" }))
{
    @*<center>
            <!--<div id="bild" onclick="getFile()">click to upload a file</div>-->
            <!-- this is your file input tag, so i hide it!-->
            <button id="bild" type="button" onclick="getFile()" class="btn btn-info">Lägg till bild</button>
            <!-- i used the onchange event to fire the form submission-->
            <div style='height: 0px;width: 0px; overflow:hidden;'>
                <input id="upfile" type="file" value="upload" onchange="sub(this)" />
            </div>
            <!-- here you can have file submit button or you can write a simple script to upload the file automatically-->
            @*<input type="submit" value='submit' >

        </center>*@


    @* YouTube - Part32 - Preview Image before upload jQuery *@

    <div class="container text-center">
        <div class="row row-centered">
            <div class="col-lg-12 "> @*col-centered*@

                @*<div class="col-md-4 col-md-offset-4">
                        <div id="imgPreview" style="display:none">
                            <img class="img-responsive" id="targetImg" />
                            <div class="catption">
                                <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                <span id="description"></span>
                            </div>
                        </div>
                    </div>*@

                <div class="col-lg-12 col-centered">
                    @Html.TextBox("Title", "", new { @class = "form-control", @placeholder = "Titel på Quiz" })

                </div>
                <div class="col-lg-12 col-centered">
                    @Html.TextArea("Question", null, new { @class = "form-control", @placeholder = "Skriv in fråga" })
                </div>

                <br>

                <div class="col-xs-3">
                    @Html.TextArea("Answer1", null, new { @class = "form-control", @placeholder = "Svarsalternativ 1" })
                    <div class="radio">
                        <label>@Html.RadioButton("RadioAnswer", "1")Rätt svar</label>
                    </div>
                </div>
                <div class="col-xs-3">
                    @Html.TextArea("Answer2", null, new { @class = "form-control", @placeholder = "Svarsalternativ 2" })
                    <div class="radio">
                        <label>@Html.RadioButton("RadioAnswer", "2")Rätt svar</label>
                    </div>
                </div>

                <div class="col-xs-3">
                    @Html.TextArea("Answer3", null, new { @class = "form-control", @placeholder = "Svarsalternativ 3" })
                    <div class="radio">
                        <label>@Html.RadioButton("RadioAnswer", "3")Rätt svar</label>
                    </div>
                </div>
                <div class="col-xs-3">
                    @Html.TextArea("Answer4", null, new { @class = "form-control", @placeholder = "Svarsalternativ 4" })
                    <div class="radio">
                        <label>@Html.RadioButton("RadioAnswer", "4")Rätt svar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container text-center">

            <input type="submit" id="preQuestion" class="btn btn-info" style="float:left" value="Föregående">
            <input type="submit" id="done" class="btn btn-info" value="Done">
            <input type="submit" id="nextQuestion" class="btn btn-info" style="float:right" value="Lägg till fråga">
        </div>
}

@section scripts {
    <script src="~/Scripts/Create.js"></script>*
}